.cardsjobs > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  grid-gap: 60px;
}

.cardsjobs > ul > li {
  border: 1px solid #dadada;
  background-color: var(--background-color);
}

.cardsjobs .cardsjobs-card-body {
  margin: 16px;
}

.cardsjobs .cardsjobs-card-body > div{
  background-color: rgb(222 234 150/var(--tw-bg-opacity));
}


.cardsjobs .cardsjobs-card-image { 
  line-height: 0;
}

.cardsjobs > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

