feauturejobs {
  background-color: var(--light-color);
  font-size: var(--body-font-size-xs);
}

feauturejobs .feauturejobs > div {
  margin: auto;
  max-width: 1200px;
  padding: 40px 24px 24px;
}

feauturejobs .feauturejobs p {
  margin: 0;
}

@media (width >= 900px) {
  feauturejobs .feauturejobs > div {
    padding: 40px 32px 24px;
  }
}
